body {
    margin: 0;
    font: 14px/24px Verdana, Arial, "Microsoft Yahei", sans-serif;
    background: #ddd;
    color: #333;
}

/* header */
header {
    height: 60px;
    padding: 0 30px;
    background: #333;
}
header img {
    width: 222px;
    height: 50px;
    margin: 5px 0;
}
header nav {
    display: none;
}
header li {
    float: left;
    margin: 5px 0 0 20px;
    list-style: disc;
    color: #000;
}
header li a {
    color: #fff;
    text-decoration: none;
}
header li a:hover,
header li a.active {
    color: #999;
}

/* article */
article {
    overflow: hidden;
    margin: 20px;
    padding: 20px;
    border: solid 1px #bbb;
    border-bottom-width: 2px;
    border-right-width: 2px;
    background: #fff;
}
article h2 {
    font-size: 22px;
}
article h3 {
    font-size: 16px;
    color: #999;
}
article .author {
    font-size: 12px;
    line-height: 12px;
    color: #999;
}
article p {
    text-indent: 2em;
}
article img {
    width: 100%;
    height: auto;
    max-width: 400px;
}
article ul li {
    margin-left: -20px;
    list-style: none;
}

/* figure */
figure {
    float: left;
    margin: 10px;
    padding: 10px;
    width: 34.5%;
    border: 1px solid #ddd;
    text-align: center;
}
figure img {
    width: 100%;
    height: auto;
}
figcaption {
    padding-bottom: 5px;
    font-size: 12px;
}

/* table */
table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}
th {
    padding-left: 5px;
    border: 1px solid #ddd;
    background: #333;
    color: #fff;
}
td {
    padding-left: 5px;
    border: 1px solid #ddd;
}
tfoot {
    background: #ddd;
    font-weight: 700;
}

/* aside */
aside {
    margin: 20px;
    padding: 20px;
    border: solid 1px #bbb;
    border-bottom-width: 2px;
    border-right-width: 2px;
    background: #fff;
}
aside h2 {
    padding: 5px 0 5px 10px;
    border-left: 3px solid #ccc;
    font-size: 16px;
}

/* form */
.form-info {
    float: left;
    width: 30%;
    text-align: right;
}
.tips {
    margin-left: 30%;
    padding: 0 0 15px 10px;
    font-size: 12px;
    line-height: 0;
    color: #999;
}
.btn-submit {
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background: #35d;
    color: #fff;
}
input[type="text"],
input[type="radio"],
input[type="checkbox"],
select,
textarea {
    margin-left: 10px;
    border: 1px solid #ccc;
    font: 14px/20px Verdana, Arial, "Microsoft Yahei", sans-serif;
}
textarea {
    width: 60%;
    height: 100px;
}

/* footer */
footer {
    clear: both;
    height: 70px;
    background: #000;
}
footer p {
    padding-top: 20px;
    text-align: center;
    color: #fff;
}

/* @media */
@media (min-width:768px) {
    header nav {
        float: right;
        display: block;
    }
}
@media (min-width:768px) {
    .article-wrap {
        margin-right: 410px;
    }
}
@media (min-width:1200px) {
    figure {
        width: 16%;
    }
}
@media (min-width:768px) {
    aside {
        position: absolute;
        top: 60px;
        right: 0;
        width: 350px;
    }
}