/* Default custom select styles */
div.cs-select {
    position: relative;
    z-index: 100;
    display: inline-block;
    border: 2px solid #fff;
    outline: none;
    margin-top: 10px;
    width: 100%;
    vertical-align: middle;
    text-align: left;
    background: #fff
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
div.cs-select:focus {
    outline: none;
    border: 2px solid #c04f4a;
}
.cs-select select {
    display: none;
}
.cs-select span {
    display: block;
    position: relative;
    overflow: hidden;
    padding: 5px 15px;
    white-space: nowrap;
    cursor: pointer;
    text-overflow: ellipsis;
}

/* Placeholder and selected option */
.cs-select > span {
    padding-right: 10px;
}
.cs-select > span::after,
.cs-select .cs-selected span::after {
    speak: none;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translateY(-50%);
}
.cs-select > span::after {
    content: '';
    right: 10px;
}
.cs-select.cs-active > span::after {
    -webkit-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg);
}

/* Options */
.cs-select .cs-options {
    position: absolute;
    overflow: hidden;
    width: 100%;
    visibility: visible;
    background: #fff;
}
.cs-select.cs-active .cs-options {
    visibility: visible;
}
.cs-select ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.cs-select li.cs-optgroup > span {
    cursor: default;
}
div.cs-skin-elastic {
    background: transparent;
    color: #999;
}
.cs-skin-elastic > span {
    z-index: 100;
    background: #fff;
}
.cs-skin-elastic > span::after {
    width: 18px;
    height: 21px;
    background: url(ico.png) 0 -428px no-repeat;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.cs-skin-elastic .cs-options {
    overflow: visible;
    visibility: visible;
    pointer-events: none;
    opacity: 1;
    background: transparent;
}
.cs-skin-elastic.cs-active .cs-options {
    z-index: 999;
    border: 2px solid #c04f4a;
    border-top: none;
    pointer-events: auto;
}
.cs-skin-elastic .cs-options > ul::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: scale3d(1, 0, 1);
    transform: scale3d(1, 0, 1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    background: #fff;
}
.cs-skin-elastic.cs-active .cs-options > ul::before {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transition: none;
    transition: none;
    -webkit-animation: expand 0.6s ease-out;
    animation: expand 0.5s ease-out;
}
.cs-skin-elastic .cs-options ul li {
    opacity: 0;
    -webkit-transform: translate3d(0, -25px, 0);
    transform: translate3d(0, -25px, 0);
    -webkit-transition: opacity 0.15s, -webkit-transform 0.15s;
    transition: opacity 0.15s, transform 0.15s;
    color: #666;
    background: #ddd;
}
.cs-skin-elastic.cs-active .cs-options ul li {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
    -webkit-transition: none;
    transition: none;
    -webkit-animation: bounce 0.5s ease-out;
    animation: bounce 0.5s ease-out;
    background-image: url(ico.png) 0 -464px no-repeat;
}
.cs-skin-elastic .cs-options span {
    padding: 7px 30px;
    background-image: url(ico.png) 0 -464px no-repeat;
}
.cs-skin-elastic .cs-options span:hover,
.cs-skin-elastic .cs-options li.cs-focus span,
.cs-skin-elastic .cs-options .cs-selected span {
    color: #fff;
    background: #c04f4a;
    background-image: url(ico.png) 0 -464px no-repeat;
}
@-webkit-keyframes expand {
    0% {
        -webkit-transform: scale3d(1, 0, 1);
    }
    25% {
        -webkit-transform: scale3d(1, 1.2, 1);
    }
    50% {
        -webkit-transform: scale3d(1, 0.85, 1);
    }
    75% {
        -webkit-transform: scale3d(1, 1.05, 1)
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
    }
}
@keyframes expand {
    0% {
        -webkit-transform: scale3d(1, 0, 1);
        transform: scale3d(1, 0, 1);
    }
    25% {
        -webkit-transform: scale3d(1, 1.2, 1);
        transform: scale3d(1, 1.2, 1);
    }
    50% {
        -webkit-transform: scale3d(1, 0.85, 1);
        transform: scale3d(1, 0.85, 1);
    }
    75% {
        -webkit-transform: scale3d(1, 1.05, 1);
        transform: scale3d(1, 1.05, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translate3d(0, -25px, 0);
        opacity: 0;
    }
    25% {
        -webkit-transform: translate3d(0, 10px, 0);
    }
    50% {
        -webkit-transform: translate3d(0, -6px, 0);
    }
    75% {
        -webkit-transform: translate3d(0, 2px, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}
@keyframes bounce {
    0% {
        -webkit-transform: translate3d(0, -25px, 0);
        transform: translate3d(0, -25px, 0);
        opacity: 0;
    }
    25% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }
    50% {
        -webkit-transform: translate3d(0, -6px, 0);
        transform: translate3d(0, -6px, 0);
    }
    75% {
        -webkit-transform: translate3d(0, 2px, 0);
        transform: translate3d(0, 2px, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}